.mat-card{
  max-width: 100%;
  background-color: rgb(224, 193, 184);
  margin-top: 10px;
  color: black;
}


.mat-card-simples{
  max-width: 300px;
  background-color: rgb(194, 81, 81);
  margin-top: 10px;
}

.botao-usuario{
  margin-left: 50%;
}

.mat-form-principal{
  margin-left: 5px;

}